/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }

body {
	font-family: sans-serif;
	font-size: 14px;
}

/* ---------------------------------------------------- */

h1 {
	text-align: center;
}

.tym {
	display: flex;
}

.osoba {
	border: 1px solid lightblue;
	border-radius: 5px;
	margin: 5px;
	padding: 5px;
	text-align: center;
}

.foto img {
	border-radius: 50%;
}

